.counter-container{
    background-color:rgb(177, 164, 148);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 1.5rem;
    border: 0.5px solid black;
    justify-content: center;
    align-items: center;
    font-size: larger;
    border-radius: 20px;
}

#count{
    font-size:4rem;
}

