.user-container{
    background-color: rgb(220, 183, 134);
    padding: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 1rem;
}

#user-img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}